.game-head {
  border-bottom: .5rem solid black;
}

.game-head p {
  font-style: italic;
}


.info-display {
  height: 10vh;
}

.reset {
  height: 20vh;
}


.info-display p {
  margin-bottom: 0
}

.end-game {
  color: red;
  font-weight: 900;
  font-size: 3rem;
}

.restart {
  color: black;
  font-weight: inherit;
  font-size: inherit;
}
